.top-bar {
  background-color: aquamarine;
  width: 90%;
  display: flex;
  justify-content: flex-end; /* push everything to the right */
  align-items: center;
  padding: 10px 130px;
  background: #fff; /* optional */
  gap: 20px;
  margin-bottom: 7px;
  
 
margin: auto;
box-shadow: 3px 0px 12px rgba(0,0,0,0.08);

}

.top-bar .social-icons {
  display: flex;
  align-items: center;
  gap: 20px;
 

}

/* Search input wrapper */
.top-bar .search-container {
  position: relative;
  display: flex;
  align-items: center;
}




/* Phone section */
.top-bar .phone-section {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000;
}
.top-bar .phone-section .whatsapp  {
  color: #25d366;
  font-size: 28px;
  display: inline-block;
  animation: pulse 1.8s infinite ease-in-out;
  background-color: #fff;
}
.top-bar  .instagram {
  color: #C84425;
  font-size: 28px;
  display: inline-block;
  animation: pulse 1.8s infinite ease-in-out;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.top-bar .phone-section span {
  color: #000; /* WhatsApp green */
  padding-bottom: 10px;

}

/* Instagram */
.top-bar .instagram-section .instagram {
  font-size: 25px;
  background: radial-gradient(circle at 30% 30%, #feda75, #d62976, #962fbf, #4f5bd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   padding-top: 3px;
  
}



@media (max-width: 600px) {
  .phone-section span {
    display: none;
  }

.top-bar {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
    box-shadow: 7px 0px 12px rgba(0,0,0,0.08);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
   
}
.top-bar .phone-section .whatsapp {
  padding-bottom: 1px;
  color: #25d366;
  font-size: 28px;
  display: inline-block;
  
  
}

  

}
