.top-bar {
 
  background-color: #fff;
  width: 90%;
  display: flex;
  justify-content: flex-end; /* push everything to the right */
  align-items: center;
  padding: 10px 130px;
  /* background: #fff;  */
  gap: 20px;
  margin-bottom: 7px;
  
 
margin: auto;
box-shadow: 3px 0px 12px rgba(0,0,0,0.08);

}

.top-bar .social-icons {
  display: flex;
  align-items: center;
  gap: 20px;
 

}

/* Search input wrapper */
.top-bar .search-container {
 
  position: relative;
  display: flex;
  align-items: center;
}





/* Phone section */
.top-bar .phone-section {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000;
}
.top-bar .phone-section .whatsapp  {
  color: #25d366;
  font-size: 28px;
  display: inline-block;
  animation: pulse 1.8s infinite ease-in-out;
  background-color: #fff;
  cursor: pointer;
}
.top-bar  .instagram {
  color: #0e0d0d;
  font-size: 28px;
  display: inline-block;

}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.top-bar .phone-section span {
  color: #000; /* WhatsApp green */
  /* padding-bottom: 10px; */
  font-size: 20px;
  font-weight: 500;

}

/* Instagram */
.top-bar .instagram-section .instagram {
  font-size: 25px;
   padding-top: 3px;
   color: #181618;
   cursor: pointer;
  
}



.whatsapp-grid {
  display: flex;
  flex-direction: column;
  line-height: 1; /* make lines tight */
}

.whatsapp-grid span,
.whatsapp-grid p {
  margin: 0;
  padding: 0;
}
.whatsapp-grid p{
  font-size: 12px;
}



/* ------------------responsive----------- */

@media (max-width: 600px) {
  /* Hide WhatsApp/phone */
  .top-bar .phone-section {
    display: none !important;
  }

  /* Keep the others aligned to the right */
  .top-bar {
    justify-content: flex-end;
    padding: 10px 16px; /* reduce padding for small screens */
  }

  .top-bar .social-icons {
    justify-content: flex-end;
    gap: 12px;
  }

  .top-bar .search-container,
  .top-bar .search-box {
    flex: 0 1 auto;
    max-width: 250px;
  }

  .top-bar .instagram-section {
    display: flex;
    justify-content: flex-end;
  }
 
  .top-bar .instagram-section .instagram {
  font-size: 35px;
   padding-top: 3px;
   color: #a3610a;
  

  
}
}

