.grid-booking {

  display: grid;
  grid-template-columns: 60% 30%; /* left and right */
  gap: 10%; /* spacing between sections */
  max-width: 1200px;
  
 margin-top: 80px;
  padding: 20px;
}

.destination-detail-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* image grid */
.image-continner {
  position: relative; /* for back button positioning */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 per row */
  gap: 5px;
}

.destination-detail-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* back button inside image container */
.destination-detail-back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0,0,0,0.6);
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* tour info row under images */
.tour-info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.tour-info-row h2 {
  font-size: 1.1rem;
  margin: 0;
  /* white-space: nowrap; */
}

.tour-info-row .price {
  font-weight: bold;
  color: green;
  font-size: 1.4rem;
  margin: 15px;
}

.reviews {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* ============boooking formula============ */

.booking-formula {
  
  background: #b6eeba;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.booking-formula input,
.booking-formula button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.booking-formula button {
  background: #FDBE3B;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
/* .booking-formula h2 {
  background: #000;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-bottom: 1px solid green;
  
} */

/* responsive */
@media (max-width: 900px) {
  .grid-booking {
    grid-template-columns: 1fr;
  }
}
